ACG.Vendors.ADAPT.api/appsettings.Development.json
ACG.Vendors.ADAPT.api/appsettings.json
*/bin
*/obj
ADAPT.JohnDeere.api/modulesettings.json
ADAPT.JohnDeere.api/modulessettings.Development.json
ADAPT.JohnDeere.api/Properties/modulessettings.Development.json
ACG.Vendors.ADAPT.api/adapt_documents
ADAPT.JohnDeere.api/Properties/modulessettings.Development.json
